footer{
    background-color: $header-bgcolor;
    width: 100%;
    height: 40vh;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        
        width: 30%;
        height: 50%;
        background-color: $header-bgcolor;
        padding: 3vh;
        .imgfooter{
            width: 4vw;
            height: 9vh;
            
            
        }
    }

    a{
        color: black;
    }
}